*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 680px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    padding: 40px 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container h3{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #000;
    padding-bottom: 15px;
    border-bottom: 2px solid grey;
}
.input-console{
    margin-top: 40px;
    font-size: 22px;
    font-weight: 600;
    display: block;
    color: #05474a;
}
#result{
    margin: auto;
    width: 150px;
    padding: 10px 0;
    border: 2px solid #009698;
    font-size: 22px;
    border-radius: 5px;
}
button{
    margin-top: 40px;
    background: #009698;
    outline: none;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}
button:hover{
    background: #013031;
}